
@page {
    size: A4 landscape;
    margin-left: 0px;
    padding-left: 10mm;
    }
    
body {
    background-color: white;
}
 
h1 {
    text-align: center;
    font-family: sans-serif;
    color: green;
}
 
h3 {
    text-align: center;
    font-family: sans-serif;
    color: indigo;
}
 
h3 {
    text-align: center;
    font-family: sans-serif;
}
 
.content {
    text-align: justify;
    font-family: sans-serif;
    margin-left: 35px;
    margin-right: 35px;
    color: Tomato;
}

@media print{
    @page {
    size: A4 landscape;
    margin-left: 0px;
    padding-left: 10mm;
    }

    h1 {
        text-align: center;
        font-family: sans-serif;
    }
    
    html,
    body {
        width: 210mm;
        height: 297mm;
        margin: 0;
        padding: 0;
    }

    div {
        page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-inside: avoid; /* or 'auto' */
    }

    section {
        page-break-before: always; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-after: always; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-inside: avoid; /* or 'auto' */
    }
}
